
#container {
    margin: auto;
    width: 400px;
    font-size: 0.75em;
}

#content {
    border: #ccc solid 1px;
    padding: 10px;
}

#footer {
    color: #CCC;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

ÿ